<div class="paginador-container">
    <ul class="pagination"  style="list-style: none;">
      <li><button (click)="goToPage(1)" class="b1" [ngClass]="{
        'b1A': mapaPalacio, 
        'b1B': mapaPalacioCocina1, 
        'b1C': mapaPalacioCocina2, 
        'b1D': mapaPalacioDormitorio, 
        'b1E': mapaEstrellas 
      }">
        <div class="resaltar-boton"></div>
      </button></li>
      <li><button (click)="goToPage(2)" class="b2" [ngClass]="{
        'b2A': mapaPalacio, 
        'b2B': mapaPalacioCocina1, 
        'b2C': mapaPalacioCocina2, 
        'b2D': mapaPalacioDormitorio, 
        'b2E': mapaEstrellas 
      }">
        <div class="resaltar-boton"></div>
      </button></li>
      <li><button (click)="goToPage(3)" class="b3" [ngClass]="{
        'b3A': mapaPalacio, 
        'b3B': mapaPalacioCocina1, 
        'b3C': mapaPalacioCocina2, 
        'b3D': mapaPalacioDormitorio, 
        'b3E': mapaEstrellas 
      }">
        <div class="resaltar-boton"></div>
      </button></li>
    </ul>
    <div *ngIf="currentPage > 0" class="div-palacio">
      
      <div class="div-bg-interactivo" [ngStyle]="{'background-image': 'url(' + rutaImgInteractuables + ')'}">
      </div>
      <span (click)="cerarDiv()" class="X">X</span> 
      <div class="texto-interactivo">{{textoInteractivo}}</div>

    </div>
          
</div>