<div class="paginador-container">
  <ul class="pagination-top">
    
    <li pagination-li><button (click)="goToPage(1)" [class.active]="currentPage === 1">Historias</button></li>
    <li pagination-li><button (click)="goToPage(2)" [class.active]="currentPage === 2">Criaturas</button></li>
  </ul>
</div>

<div  class="div-historia">
  
          <!-- historias -->

  <div *ngIf="currentPage === 1" class="contenedor-historia">

    <ul class="ul-barra-superior" >
      <ng-container *ngFor="let item of historias; let i = index" class="contenedor-botones-titulos">
        <li>
          <button class="botones-titulos-secundarios" (click)="actualizarindiceHistoria(i)" 
          [class.active]="indiceHistoria === i">{{item.titulo}}</button>
        </li>
      </ng-container>      
    </ul>
    <div class="texto-historia">
      <h2 class="titulo-historia">{{ historias[indiceHistoria].titulo }}:</h2>
      <p style="padding-top: 15px;">{{ historias[indiceHistoria].texto }}</p>
    </div>
  </div>

                <!-- criaturas -->

  <div *ngIf="currentPage === 2" class="contenedor-pagina-proyectos">

    <ul class="ul-barra-superior">
      <ng-container *ngFor="let item of criaturas; let i = index" class="contenedor-botones-criaturas">
        <li>
          <button class="botones-titulos-secundarios" (click)="actualizarindiceCriaturas(i)"
          [class.active]="indiceCriaturas === i"
          >{{item.titulo}}</button>
        </li>
      </ng-container>      
    </ul>
    <div class="texto-historia padding-texto">
      <h3 class="titulo-historia">{{ criaturas[indiceCriaturas].titulo }}:</h3>
      <p style="padding-top: 15px;">{{ criaturas[indiceCriaturas].texto }}</p>
    </div>
  </div>
    
 