
<div class="div-pajarito"> 
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro2.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro3.png"></div>
    <div><img class="pajaro" [hidden]="isDivVisible" (click)="golpearPajarito($event)"src="images/pajaritos/pajaro1.png"></div>
  </div>

  <div class="piedrazo" id="piedra">
    <img style="width: 60px;" src="images/pajaritos/piedrazo.png">
  </div>
