:host {
    height: 100%;
  }

  .pagination {
    position: relative;
  }
 
  .paginador-container {
    width: 100%; /* O el ancho deseado del contenedor */
    height: 100%;
  }
  
  .pagination li {
    margin: 0 1px;
  }
  
  .pagination button {
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    border: none;
    padding: 0;
  }
  
  .pagination button.active {
    border: 5px;
    border-color: beige;
  }
  
  .div-estrellas {
    background-color: rgba(207, 222, 237, 0.3);
    word-wrap: break-word; /* Hace que el texto se ajuste a la línea */
    white-space: pre-line; /* Permite que el texto envuelva normalmente */
    display: flex;
    flex-direction: column;
    position: absolute;
    background-size: cover;
    background-position: center;
    justify-content: flex-start; /* Alinea el contenido al principio verticalmente */
    height: 50vh;
    width: 40vw;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-color: black; 
    border-style: groove;   
    box-sizing: border-box; /* Incluye padding y borde dentro del tamaño total */
    scrollbar-width: thin;
    scrollbar-color: grey black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
  }
  
  button:hover .resaltar-boton {
    visibility: visible;
  }
  
  .X {
    background-color: brown;
    color: beige;
    border-color: black;
    border-style: outset;
    position: fixed;
    width: 20px;
    height: 20px;
    right: 0%;
    text-align: center;
    margin-right: 10px;
    z-index: 5;
  }
  
  .b1 {
    top: 378px;
    left: 892px;
    width: 120px;
    height: 140px;
    
  }
  .b2 {
    top: -15px;
    left: 509px;
    width: 250px;
    height: 165px;
  } 
  .b3 {
    top: 441px; 
    left: 253px;
    width: 145px;
    height: 120px;
  }
  .b4 {
    top: 213px; 
    left: 124px;
    width: 112px;
    height: 107px;
  }
  .b5 {
    top: 617px; 
    left: 1066px;
    width: 80px;
    height: 60px;
  }
  .b6 {
    top: -26px; 
    left: 58px;
    width: 140px;
    height: 110px;
  }

  .div-bg-constelaciones{
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    background-size: contain;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.6; 
  }

  .texto-interactivo{
    z-index: 2;
    margin: 15px;
    font-size: 18px;
    align-self: center;
  }

  .img-estrellas {
    display: flex;
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }