.paginador-container {
  width: 100%; /* O el ancho deseado del contenedor */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1
}

.pagination li {
  flex: 1; /* Hace que todos los elementos <li> crezcan igual */
}

.pagination button {
  width: 100%; /* Hace que el botón ocupe todo el ancho del <li> */
  height: 100%;
  padding: 10px;
  background-color: rgb(82, 68, 32);
  border: 2px solid black; 
  border-style: outset;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: medium;
}

.pagination button.active {
  background-color: #c7956c;
  cursor: default;
}

.boton-mas-misiones {
  background-color: brown;
  color: #ffffffc7; /* color del texto */
  top: 0%;
  right: 0%;
  min-width: fit-content;
  font-weight: bolder;
}

.div-superior{
  display: flex; 
  flex-direction: row; 
  width: 100%;
  min-height: 65px;
}


.input-misiones {
  padding-top: 5px;
  padding-bottom: 5px;
}

.crear-misiones {
  position: absolute;
  background-color: rgb(109 100 167);
  background-image: url("/images/bone-texture.png");
  border: 2px solid black; 
  border-style: outset;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  z-index: 10;
  gap: 5px;
}

.crear-misiones input, textarea, .crear-misiones button {
  background-color: #e7d8cb;
  font-size: large;
}

.botones-viaje .color {
  background-color: rgba(170, 164, 154, 0.537);
}

.botones-viaje{
  display: flex;
  flex-direction: row;
}

.botones-viaje button {
  width: fit-content;
}

.div-decretar-cancelar {
  display: flex;
  align-self: center; 
  gap: 15%;
}

.botones-paginacion {
  background-color: grey;
  width: 5%;
  padding: 5px;
  opacity: 1;
}

.ventana-detalles-mision{
  padding: 30px;
  padding-top: 10px;
  overflow-y: auto;
}

.contenedor-seleccion-destinos{
  flex-direction: column; 
  background-color: #e7d8cb;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.banner-selector-destinos{
  text-align: center;  
  padding-bottom: 5px;
  padding-top: 5px;
}