.div-de-todo-el-contenido-de-la-app-informes {
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que el contenedor ocupe todo el espacio del padre */
}

.paginador-container {
  width: 100%; /* El ancho completo del contenedor */
  flex-shrink: 0; /* Evita que este div crezca o se encoja, mantiene su altura */
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-li-top {
  flex: 1; /* Hace que todos los elementos <li> crezcan igual */
  width: 100%;
}

.pagination button {
  width: 100%;
  padding: 10px;
  background-color: rgb(82, 68, 32);
  border: 2px solid black; 
  border-style: outset;
  box-sizing: border-box;
}

.pagination button.active {
  font-weight: bold;
  background-color: #c7956c;
}

.div-pantalla-informes {
  flex-grow: 1; /* Ocupa el espacio restante del contenedor */
  overflow: hidden; /* Evita que el contenido salga fuera del contenedor */
  display: flex;
}

.div-noticias {
  display: flex;
  flex-grow: 1;
}


.padding-texto {

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Asegura que ocupe el espacio restante */
}

.columna-botones-izq {
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(142, 111, 92, 0.3);
}

.selectOption{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.ul-opciones-respuestas-dialogos {
  justify-content: center; /* Centra los botones verticalmente */
  padding: 0; /* Elimina el padding del ul */
  padding-bottom: 30px;
  margin: 0; /* Elimina el margen del ul */
  margin-top: 20px;
  display: flex; 
  flex-direction: column;
}

.div-opciones-respuestas-dialogos{
  align-self: center;
  align-content: left;
  display: flex;
  flex-direction: column;
}

.div-opciones-respuestas-dialogos button {
  background-color: rgba(230, 226, 217, 0.76);
  padding: 3px; /* Espacio interno en el botón */
  margin: 1px 0; /* Espacio entre los botones */
  text-align: center;
  width: auto; /* Ancho automático para ajustar al texto */
  cursor: pointer;
}

.div-columna-derecha{
  flex-direction: row;
  overflow-y: auto;
  margin-left: 20px;
  padding-right: 20px;
}


.ul-barra-superior {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas filas */
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.ul-barra-superior button {
  width: 100%; /* Ocupa el ancho completo del <li> */
  height: 100%;
  padding: 5px;
  background-color: rgba(63, 10, 10, 0.76);
  background-image: url('/images/bone-texture.png');
  border-style: groove;
  box-sizing: border-box;
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
}

.ul-barra-superior button.active {
  background-color: rgba(239, 169, 169, 0.451)
}

.ul-barra-superior li {
  flex: 1 1 20%; /* Cada <li> ocupa al menos el 20% del ancho, ajustable según necesidades */
  box-sizing: border-box;
  padding: 0px; /* Espaciado entre botones */
}



.ul-barra-de-proyectos button.active{
  font-weight: bold;
  background-color: #c7956c;
  height: 100%;
}

.titulo-proyectos {
  font-weight: normal;
  display: inline; /* Asegura que el subrayado solo esté debajo del texto */
  border-bottom: 3px groove #120d0dc5; /* Tipo, grosor y color del subrayado */
  padding-bottom: 2px; /* Espacio entre el texto y el subrayado */
}

.texto-proyectos{
  padding: 25px;
  padding-top: 10px;
}

.ul-barra-superior .botones-titulos-secundarios.active {
  background-color: rgb(164, 76, 76)!important;
} /* boton secundario activo */

.botones-titulos-secundarios {
  background-color: rgb(111, 2, 2)!important;
} /* boton secundario inactivo */

.botones-titulos-secundarios.active {
  background-color: rgba(177, 35, 35, 0.76)!important;
} /* boton lateral informes */
